.bg-color{
    background-color: black;
    background-image: url(assets/home_back.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
}
.owl-dot span{
    width: 40px;
}